<div id="<%= dom_id user %>">
  <div><%= user.email %></div>
  <% if user.profile %>
    <div><%= user.profile.name %></div>
    <div><%= user.profile.birthday %></div>
  <% end %>
  <div><%= button_to 'Add Friend', 
                friend_requests_path(friend_request: {
                  sender_id: current_user,
                  receiver_id: user }),
                data: { turbo_confirm: "Are you sure?" } %></div>
</div>
