<div id="<%= dom_id user %>">
  <div><%= user.email %></div>
  <div><%= user.profile.name %></div>
  <div><%= user.profile.birthday %></div>
  <div><%= button_to 'Add Friend', friend_requests_path,
  data: { turbo_confirm: "Are you sure?" } %>
</div>
