<p style="color: green"><%= notice %></p>

<div><%= image_tag(@profile_photo) %></div>
<div><%= @user.email %></div>
<% if @user.profile %>
  <div>Name: <%= @user.profile.name %></div>
  <div>Birthday: <%= @user.profile.birthday %></div>
<% end %>

<hr>

<h1>Posts</h1>
<hr>

<% @user.posts.each do |post| %>
  <%= render post %>
  <hr>
<% end %>
