<div id="<%= dom_id post %>">
  <p>
    <div><%= post.content %></div>
    <div><%= post.author.email %></div>
    <div><%= post.author.profile.name %></div>
    <div><strong><%= post.created_at %></strong></div>

    <div><%= link_to 'Add Comment', 
              new_comment_path(comment: { post_id: post.id }) %>
    </div>
    <h3>Comments</h3>
    <% post.comments.each do |comment| %>
      <div><%= comment.content %></div>
      <div>by: <%= comment.user.email %></div>
      <div><%= comment.created_at %></div>
      <br>
    <% end %>

    <div><%= button_to 'Like', 
              likes_path(like: { post_id: post, user_id: current_user }) %>
    </div>

    <h3>Likes</h3>
    <% post.likes.each do |like| %>
      <div>Liked by: <%= like.user.email %></div>
      <div><%= like.created_at %></div>
      <br>
    <% end %>
  </p>
</div>
